<span style="font-size:1.2em; color:#5cb85c;">&#9989; Credit Alert</span><br><br>

<b>Amount Credited:</b> <span style="color:#5cb85c;">{{amount}}</span><br>
<b>To Account:</b> {{account}}<br>
<b>Received From:</b> {{sender}}<br>
<b>Date:</b> {{date}}<br>
<b>Available Balance:</b> <span style="color:#337ab7;">{{balance}}</span><br><br>

If you have any questions about this transaction, please contact ModernPay support.<br>
<hr>
<span style="font-size:0.9em; color:#888;">Thank you for using ModernPay.</span>